.custom-input {
  position: relative;

  &.is-invalid {
    input {
      border-bottom: 1px solid $color-crimson;
    }
  }

  .input-message {
    position: absolute;
    top: -15px;
    left: 0;

    &.is-invalid {
      font-size: 11px;
      line-height: 12px;
      color: $color-crimson;
    }
  }
}
