.membership {
  position: relative;
  background-color: $color-ghost-white;
}

.membership .container {
  @include vp-767 {
    padding: 0;
  }
}

.membership__wrapper {
  margin: 0 auto;
  padding: 120px 0;
  max-width: 1160px;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 63px 0 69px 0;
  }
}

.membership__wrapper h2 {
  margin: 0 5px 7px 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: 1.6px;
  text-align: center;

  @include vp-1199 {
    margin: 0 5px 7px 0;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 1.3px;
  }

  @include vp-767 {
    margin: 0 11px 11px 0;
    padding: 0 15px;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 1px;
  }
}

.membership__controls {
  position: relative;
  display: flex;
  gap: 6px;
  margin: 0 auto 39px auto;
  width: max-content;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    width: calc(100% - 37px);
    height: 2px;
    background-color: $color-grey-opacity-20;
  }

  @include vp-1199 {
    gap: 15px;
    margin: 0 auto 45px auto;
  }

  @include vp-767 {
    margin: 0 auto 34px auto;
  }
}

.membership__controls button {
  position: relative;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-sapphire-opacity-50;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include vp-1199 {
    padding: 10px 20px 13px 20px;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 10px 15px 14px 15px;
    font-size: 16px;
    line-height: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: $color-crimson;
    transform: scale(0);
    transform-origin: center;
    transition: 0.3s;
  }

  &:hover {
    color: $color-crimson;
  }
}

.membership__controls button.is-active {
  color: $color-sapphire;

  &::before {
    transform: scale(1);
  }
}

.membership__lists {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    &::before {
      display: none;
    }
  }
}

.membership__wrapper ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(310px, 360px));
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1200px) and (max-width: 1218px) {
    gap: 30px;
  }

  @include vp-1199 {
    grid-template-columns: 100%;
    justify-content: center;
    padding: 0 118px;
    width: 100%;
  }

  @include vp-767 {
    padding: 0 15px;
    gap: 35px;
  }
}

.membership__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 62px 20px;
  border: 7px solid $color-default-white;
  text-align: center;
  background-color: $color-default-white;
  z-index: 1;

  &:hover,
  &:focus-within {
    border: 7px solid transparent;
    border-image: $button-buy-gradient;
    border-image-slice: 7;
    outline: 0;
  }

  @include vp-767 {
    padding: 43px 20px 49px 20px;
  }
}

.membership__item h3 {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 39.6px;

  @include vp-767 {
    margin: 0 0 10px 0;
    font-size: 22px;
    line-height: 24.23px;
  }
}

.membership__item p {
  margin: 0 0 66px 0;
  color: $color-chambray;

  @include vp-767 {
    margin: 0 0 55px 0;
  }
}

.membership__price {
  flex-grow: 1;
  position: relative;
}

.membership__price p {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 1;

  &::before {
    content: attr(data-price);
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: $color-whisper;
    opacity: 48%;
    z-index: -1;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;

    &::before {
      top: 16px;
      font-size: 80px;
      line-height: 120px;
    }
  }
}

.membership__price span {
  margin: 0 0 0 10px;
  font-weight: 400;
  color: $color-sapphire;

  @include vp-767 {
    margin: 0 0 0 7px;
  }
}

.membership__item a {
  margin: 37px 0 0 0;
  padding: 24px 10px;
  width: 100%;
  max-width: 204px;
  color: $color-sapphire;
  border: none;
  box-shadow: 0 0 0 2px $color-sapphire;

  @include vp-1199 {
    margin: 36px 0 0 0;
    width: 53%;
    max-width: 100%;
  }

  @include vp-767 {
    margin: 31px 0 0 0;
    width: 86%;
  }
}

.membership__item:hover a,
.membership__item:focus a {
  background: $button-buy-gradient-hover;
  color: $color-default-white;
  box-shadow: none;

  @include hover {
    box-shadow: 0 0 10px 1px $color-egyptian-blue;
  }
}

.membership__image-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1366px;

  @include vp-767 {
    display: none;
  }
}

.membership img {
  position: absolute;
  bottom: -149px;
  right: -183px;

  @include vp-1199 {
    bottom: -125px;
    right: -76px;
    width: 423px;
    height: 444px;
  }
}
